# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          APPLICATION
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

PORT=
API_VERSION=
JWT_REFRESH_SECRET=
JWT_ACCESS_SECRET=
RESET_PASSWORD_REDIRECT_BASE_URL=
NODE_ENV=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          DATABASE (MongoDB)
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=cryptweb

# For Docker Compose (used as MONGO_INITDB env vars):
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=cryptweb

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          NODEMAILER 
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

GOOGLE_EMAIL=
GOOGLE_APP_PASSWORD=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          LOGS 
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

LOG_LEVEL=
