# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          APPLICATION
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

PORT=
API_VERSION=
JWT_REFRESH_SECRET=
JWT_ACCESS_SECRET=
RESET_PASSWORD_REDIRECT_BASE_URL=
NODE_ENV=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          DATABASE
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          PGADMIN 
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          NODEMAILER 
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

GOOGLE_APP_PASSWORD=

# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                          LOGS 
# +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

LOG_LEVEL=